Consensus decision from Connect WG meeting on August 27th, 2026: This is approved.

> To be very clear - I propose adding two invalid entries to the server jwks that the tests expose

In addition to the unknown `kty` values it might be worth at the same time considering the additional MUST requirement in the spec regarding miscellaneous members inside each JWK from RFC 7517 section 4 which reads:

> Additional members can be present in the JWK; if not understood by implementations encountering them, they MUST be ignored.

See below the below example expanding on the great example @jogu included.

```json
  {
    "kty": "AKP",
    "not-part-of-AKP-member": true,
    "alg": "ML-DSA-9999",
    "kid": "unusable-pq-sig-key",
    "use": "sig",
    "pub": "Z0FOY29uZm9ybWFuY2UtdGVzdC1wbGFjZWhvbGRlci1wdWJsaWMta2V5"
  }
  {
    "kty": "OIDF-CONFORMANCE-UNSUPPORTED",
    "OIDF-CONFORMANCE-UNSUPPORTED": true,
    "alg": "OIDF-CONFORMANCE-UNSUPPORTED",
    "kid": "unusable-unknown-sig-key",
    "use": "sig"
  }
```

Note that Certification [MR #2119](https://gitlab.com/openid/conformance-suite/-/merge_requests/2119) adding these key tests was merged following the working group's approval.